In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
tsv_file='test_data.tsv'
 
# reading given tsv file
csv_table=pd.read_table(tsv_file,sep='\t')

In [ ]:
cols_to_check = ['Text_data']
csv_table.to_csv('test.csv',index=False)

In [ ]:
# converting tsv file into csv
csv_table.to_csv('train.csv',index=False)
 
# output
print("Successfully made csv file")

Successfully made csv file

## Data analysis

In [ ]:
import pandas as pd
import numpy as np
import re
import string
import math

In [ ]:
path = "/content/gdrive/MyDrive/dep-nlp/data/"

In [ ]:
train_data = pd.read_csv(path+'train.csv')
train_data.head()

            id                                               text     label
0  train_pid_1  Waiting for my mind to have a breakdown once t...  moderate
1  train_pid_2  My new years resolution : I'm gonna get my ass...  moderate
2  train_pid_3  New year : Somone else Feeling like 2020 will ...  moderate
3  train_pid_4  My story I guess : Hi, Im from Germany and my ...  moderate
4  train_pid_5  Sat in the dark and cried myself going into th...  moderate

In [ ]:
dev_data = pd.read_csv(path+'dev.csv')
dev_data.head()

          id                                               text     label
0  dev_pid_1  I enjoyed today, and I still am! Tomorrows dep...  moderate
1  dev_pid_2  I sorta tried to kill myself : I had a total b...  moderate
2  dev_pid_3  Best suicide method? : I like it quick and eas...  moderate
3  dev_pid_4  a story : I remember the time I'd get on my 3D...  moderate
4  dev_pid_5  The world only cares about beautiful people : ...  moderate

In [ ]:
test_data = pd.read_csv(path+'test.csv')
test_data.head()

           id                                               text
0  test_pid_1  Im scared : This is it. I lie to myself every ...
1  test_pid_2  New to this but just wanted to vent : I just f...
2  test_pid_3  I’m sad : It’s kinda always been an issue. I w...
3  test_pid_4  Lonely but not alone. : All of my immediately ...
4  test_pid_5  This year has been trash. : I dont know why I’...

In [ ]:
possible_labels = train_data.label.unique()

label_dict = {}
for index, possible_label in enumerate(possible_labels):
    label_dict[possible_label] = index
label_dict

{'moderate': 0, 'not depression': 1, 'severe': 2}

In [ ]:
train_data['label'] = train_data.label.replace(label_dict)
dev_data['label'] = dev_data.label.replace(label_dict)

In [ ]:
train_data.groupby(['label']).count()

         id  text
label
0      6019  6019
1      1971  1971
2       901   901

In [ ]:
dev_data.groupby(['label']).count()

         id  text
label
0      2306  2306
1      1830  1830
2       360   360

In [ ]:
len(test_data)

3245

In [ ]:
len(train_data)

8891

In [ ]:
len(dev_data)

4496

In [ ]:
from collections import Counter

print('train')
print(Counter(train_data['label']).keys()) # unique elements
print(Counter(train_data['label']).values()) # counts the elements' frequency

print('dev')
print(Counter(dev_data['label']).keys()) # unique elements
print(Counter(dev_data['label']).values()) # counts the elements' frequency

train
dict_keys([0, 1, 2])
dict_values([6019, 1971, 901])
dev
dict_keys([0, 1, 2])
dict_values([2306, 1830, 360])

In [ ]:
data = pd.concat([train_data, dev_data], axis=0)
print(data.head())

            id                                               text  label
0  train_pid_1  Waiting for my mind to have a breakdown once t...      0
1  train_pid_2  My new years resolution : I'm gonna get my ass...      0
2  train_pid_3  New year : Somone else Feeling like 2020 will ...      0
3  train_pid_4  My story I guess : Hi, Im from Germany and my ...      0
4  train_pid_5  Sat in the dark and cried myself going into th...      0

In [ ]:
print(len(data))

13387

In [ ]:
data = data.drop(['id'], axis=1)

In [ ]:
data.head()

                                                text  label
0  Waiting for my mind to have a breakdown once t...      0
1  My new years resolution : I'm gonna get my ass...      0
2  New year : Somone else Feeling like 2020 will ...      0
3  My story I guess : Hi, Im from Germany and my ...      0
4  Sat in the dark and cried myself going into th...      0

In [ ]:
data.insert(0, 'id', range(1, 1+len(data)))

In [ ]:
data.head()

   id                                               text  label
0   1  Waiting for my mind to have a breakdown once t...      0
1   2  My new years resolution : I'm gonna get my ass...      0
2   3  New year : Somone else Feeling like 2020 will ...      0
3   4  My story I guess : Hi, Im from Germany and my ...      0
4   5  Sat in the dark and cried myself going into th...      0

In [ ]:
data.to_csv('data.csv', index=False)

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
!pip install contractions

In [ ]:
!pip install transformers

In [ ]:
import pandas as pd
import numpy as np
import re
import string
import math
import contractions
from collections import Counter

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download("stopwords")
nltk.download("wordnet")
nltk.download('omw-1.4')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
import tensorflow as tf
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Dropout, Embedding, LSTM, Bidirectional

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, multilabel_confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [ ]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC

# Reading data

In [ ]:
path = "/content/gdrive/MyDrive/dep-nlp/"

In [ ]:
train_data = pd.read_csv(path+'data/train.csv')
train_data.head()

            id                                               text     label
0  train_pid_1  Waiting for my mind to have a breakdown once t...  moderate
1  train_pid_2  My new years resolution : I'm gonna get my ass...  moderate
2  train_pid_3  New year : Somone else Feeling like 2020 will ...  moderate
3  train_pid_4  My story I guess : Hi, Im from Germany and my ...  moderate
4  train_pid_5  Sat in the dark and cried myself going into th...  moderate

In [ ]:
# train_data = train_data.rename(columns={'PID': 'id', 'Text_data': 'text', 'Label': 'label'})

In [ ]:
test_data = pd.read_csv(path+'data/test.csv')
test_data.head()

           id                                               text
0  test_pid_1  Im scared : This is it. I lie to myself every ...
1  test_pid_2  New to this but just wanted to vent : I just f...
2  test_pid_3  I’m sad : It’s kinda always been an issue. I w...
3  test_pid_4  Lonely but not alone. : All of my immediately ...
4  test_pid_5  This year has been trash. : I dont know why I’...

In [ ]:
# test_data = test_data.rename(columns={'Pid': 'id', 'text data': 'text'})

In [ ]:
dev_data = pd.read_csv(path+'data/dev.csv')
dev_data.head()

          id                                               text     label
0  dev_pid_1  I enjoyed today, and I still am! Tomorrows dep...  moderate
1  dev_pid_2  I sorta tried to kill myself : I had a total b...  moderate
2  dev_pid_3  Best suicide method? : I like it quick and eas...  moderate
3  dev_pid_4  a story : I remember the time I'd get on my 3D...  moderate
4  dev_pid_5  The world only cares about beautiful people : ...  moderate

In [ ]:
# dev_data = dev_data.rename(columns={'PID': 'id', 'Text data': 'text', 'Label': 'label'})

In [ ]:
train_data.to_csv('train.csv',index=False)
dev_data.to_csv('dev.csv', index=False)
test_data.to_csv('test.csv', index=False)

In [ ]:
possible_labels = train_data.label.unique()

label_dict = {}
for index, possible_label in enumerate(possible_labels):
    label_dict[possible_label] = index
label_dict

{'moderate': 0, 'not depression': 1, 'severe': 2}

In [ ]:
train_data['label'] = train_data.label.replace(label_dict)
dev_data['label'] = dev_data.label.replace(label_dict)

In [ ]:
from collections import Counter

print('train')
print(Counter(train_data['label']).keys()) # unique elements
print(Counter(train_data['label']).values()) # counts the elements' frequency

print('dev')
print(Counter(dev_data['label']).keys()) # unique elements
print(Counter(dev_data['label']).values()) # counts the elements' frequency

train
dict_keys([0, 1, 2])
dict_values([6019, 1971, 901])
dev
dict_keys([0, 1, 2])
dict_values([2306, 1830, 360])

In [ ]:
dev_data.head()

          id                                               text  label
0  dev_pid_1  I enjoyed today, and I still am! Tomorrows dep...      0
1  dev_pid_2  I sorta tried to kill myself : I had a total b...      0
2  dev_pid_3  Best suicide method? : I like it quick and eas...      0
3  dev_pid_4  a story : I remember the time I'd get on my 3D...      0
4  dev_pid_5  The world only cares about beautiful people : ...      0

# Preprocessing

In [ ]:
def preprocess(text):

  text=contractions.fix(text) # expanding the contractions
  text=text.lower() # lowering the text
  text=re.sub(r'[^\w\s]', '', text) # removing the punctuation
  text=''.join([i for i in text if not i.isdigit()]) # removing the digits and words containing the digits
  text=" ".join([word for word in str(text).split() if word not in stop_words]) # removing the stopwords
  text=" ".join([lemmatizer.lemmatize(word) for word in text.split()]) # lemmatizing the words

  return text

In [ ]:
train_data['text'] = train_data['text'].apply(lambda x: preprocess(x))

In [ ]:
test_data['text'] = test_data['text'].apply(lambda x: preprocess(x))

In [ ]:
dev_data['text'] = dev_data['text'].apply(lambda x: preprocess(x))

In [ ]:
# train_data.iloc[0]['text']

In [ ]:
train_data.to_csv('train-preprocess.csv')
test_data.to_csv('test-preprocess.csv')
dev_data.to_csv('dev-preprocess.csv')

In [ ]:
train_data.head()

            id                                               text  label
0  train_pid_1  waiting mind breakdown new year feeling anymor...      0
1  train_pid_2  new year resolution going get as therapist off...      0
2  train_pid_3  new year somone else feeling like last year ea...      0
3  train_pid_4  story guess hi germany english mostly self lea...      0
4  train_pid_5          sat dark cried going new year great start      0